<% include ../partials/header %>

<div class="container">
	
	<header class="jumbotron">
		<% if(currentUser.group === "admin" || currentUser.group === "dev") { %>
		<div class="container">
			<h1>Welcome to Bug Report</h1>
			<p>Submit a new project and report all it's bugs</p>
			<p>
				<a href="/projects/new" class="btn btn-primary btn-lg">Add new Project</a>
			</p>	
		</div>

		<% }  else {%>
		<div class="container">
			<h1>Welcome to <%= currentUser.group %>'s Bug Report</h1>
			<p>Let the dev team know of any issues in your projects</p>
		</div>
		<% } %>
	</header>

	<div class="row text-center camps-grid ">
		<% projects.forEach(function(item) { %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="/img/<%= item.image %>" alt="<%= item.title %>" >
					<div class="caption">
						<h4><%= item.title %></h4>
					</div>
					<% var bugs = item.issues;
						var outstanding = 0;
						bugs.forEach(function(bug){
							if (bug.completed === false) {
								outstanding ++;
							}
						})
					%>
					<p><a  href="/projects/<%= item.id %>/issues" class="btn btn-primary" type="button">Show <span class="badge"><%=outstanding%></span></a>
				</div>
			</div>
		<% }) %>
	</div>

</div>

<% include ../partials/footer %>