<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead"><%= foundProject.title%></p>
			<div class="list-group">
				<li class="list-group-item active">1</li>
				<li class="list-group-item">2</li>
				<li class="list-group-item">3</li>
			</div>
			<!-- map -->

		</div>
		<div class="col-md-9">
			<div class="well">
				<div class="text-right">
					<a href="/projects/<%= foundProject._id%>/issues/new" class="btn btn-success">Add issue</a>
				</div>
				<hr>

				<% foundProject.issues.forEach(function(issue) { %>
				<div class="panel panel-info"> 
					<div class="panel-heading"> 
						<h3 class="panel-title"><%= issue.author.username %>
						<span class="pull-right"><em><%= moment(issue.created).fromNow() %></em></span>

						</h3> 
						
					</div> 
					<div class="panel-body"> 

							<p><%= issue.summary %></p>
					</div> 
					<div class="panel-footer">
							<button class="btn btn-xs btn-warning viewIssueBtn" data-project="<%= foundProject._id%>" data-issue="<%= issue._id%>">View</button>
								

							<% if(currentUser.group === "admin" || currentUser.group === "dev") { %> 
								<% if(!issue.completed) {%> <form action="/projects/<%= foundProject._id%>/issues/<%= issue._id%>?_method=PUT" method="post" class="form issue-btn"> <button class="btn btn-xs <% if(issue.completed) {%> 
								btn-success <% } else { %> btn-danger <% } %> ">Mark Completed</button></form><% } %>

								<form action="/projects/<%= foundProject._id%>/issues/<%= issue._id%>?_method=DELETE" method="post" class="form issue-btn"> <button class="btn btn-xs btn-danger issue-btn">Delete</button></form>
							<% } %>

							<% if(issue.completed) {%> 
								<span class="btn btn-xs btn-success pull-right glyphicon glyphicon-ok" aria-hidden="true"></span>
								<% } else { %> 
								<span class="btn btn-xs btn-danger pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
							<% } %>
							
						</div>
					</div>
				<% }) %>
			</div>
		</div>

		<a href="/projects">View all the projects</a>	

	</div>

	<!-- Modal -->
	<div class="modal fade" id="showIssue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p id="summary"></p>
	        <p id="os"></p>
	        <p id="device"></p>
	        <p id="browser"></p>
	        <p id="steps"></p>
	        <div id="screenshots-container"></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
	      </div>
	    </div>
	  </div>
	</div>
</div>



<% include ../partials/footer %>